.wrapper_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.home {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 3vh;
}

.error{
  font-size: 5em;
  color: #E8A236;
}

.spiner {
    margin-top: 10vh;
}

.btn_scroll {
    cursor: pointer;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 70px;
    height: 70px;
    background: url(../image/btn_pag.png) no-repeat;
    background-size: 100%;
    border: #E8A236 2px solid;
    border-radius: 50px;
    transition: .4s;
    transform: rotate(270deg);
  }

  .btn_scroll:hover {
    background-color: #E8A236;
  }
  
  .btn_scroll:active {
    color: #1A1A1A;
    border: #1A1A1A 5px solid;
    transition: .05s;
    background-color: #FFF;
  }

  .btn_scroll_up{
    background: url(../image/btn_pag.png) no-repeat;
    background-size: 100%;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    border: #E8A236 2px solid;
    transform: rotate(90deg);
    margin-top: 1vh;
    margin-bottom: 2vh;
  }

  .btn_scroll_up:hover {
    background-color: #E8A236;
  }
  
  .btn_scroll_up:active {
    color: #1A1A1A;
    border: #1A1A1A 5px solid;
    transition: .05s;
    background-color: #FFF;
  }